<nav class="ldp-navtabs mx-auto position-relative d-flex justify-content-between align-items-center">
    <div class="menu-left d-flex align-items-center gap-4">
        <button type="button" class="navtab-img-btn btn p-0 border-0 bg-transparent shadow-none" data-bs-toggle="modal"
            data-bs-target="#modalHuongDan">
            <img class="img-fluid d-block" src="../assets/hd.png" alt="Hướng dẫn">
        </button>
        <button type="button" class="navtab-img-btn btn p-0 border-0 bg-transparent shadow-none" data-bs-toggle="modal"
            data-bs-target="#modalNhanHoaFree">
            <img class="img-fluid d-block" src="../assets/hoafree.png" alt="Hoa Free">
        </button>
    </div>

    <a href="#" class="navtabs-badge position-static flex-shrink-0 position-absolute start-50 translate-middle-x">
        <img src="../assets/votengay.png" alt="Vote ngay">
    </a>

    <div class="menu-right d-flex align-items-center gap-4">
        <a href="#tichluy" class="navtab-img-btn">
            <img class="w-100 d-block h-auto" src="../assets/quatichluy.png" alt="Quà tích lũy">
        </a>
        <a href="#" class="navtab-img-btn">
            <img class="w-100 d-block h-auto" src="../assets/naphoa.png" alt="Nạp hoa">
        </a>
    </div>
</nav>