<nav class="ldp-navtabs mx-auto position-relative d-flex justify-content-between align-items-center">
    <div class="menu-left d-flex align-items-center gap-4">
        <button type="button" class="navtab-img-btn btn p-0 border-0 bg-transparent shadow-none" data-bs-toggle="modal"
            data-bs-target="#modalTheLe">
            <img src="assets/thele.png" alt="Thể lệ">
        </button>

        <button type="button" class="navtab-img-btn btn p-0 border-0 bg-transparent shadow-none" data-bs-toggle="modal"
            data-bs-target="#modalHuongDan">
            <img class="img-fluid d-block" src="assets/hd.png" alt="Hướng dẫn">
        </button>
    </div>
    <a href="vote.html"
        class="navtabs-badge  position-static flex-shrink-0 position-absolute start-50 translate-middle-x">
        <img src="assets/votengay.png" alt="Tham gia ngay">
    </a>
    <div class="menu-right d-flex align-items-center gap-4">
        <a href="#" class="navtab-img-btn">
            <img class="w-100 d-block h-auto" src="assets/taigame.png" alt="Tải game">
        </a>
        <a href="#" class="navtab-img-btn">
            <img class="w-100 d-block h-auto" src="assets/napthe.png" alt="Nạp thẻ">
        </a>
    </div>
</nav>